<div class="row">
        <div class='col-sm-12' style="text-align: center;">
          <h3 >Train  Reservation </h3>
          <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Book Seat</button>
        </div>
</div>
<br/>
<div class="container">
  
  <div class="row">
      <div class="col-custom-five" *ngFor="let i of totalSeats">
        <p class='available' *ngIf="(i.status == 'available')">
          {{i.seat}} {{i.status}} 
        </p>
        <p class='booked' *ngIf="(i.status == 'booked')">
          {{i.seat}} {{i.status}} 
        </p>       
      </div>
  </div>



</div>


<!-- Reservation  Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Seat Reservation (allowed upto 7 )</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="reservationForm"  (ngSubmit)="onSubmit()" #form1="ngForm">
          
            <div *ngIf="form1.submitted" class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> 
            </div>


          
          <div [hidden]="form1.submitted">
         
         <div formArrayName="peoples">
            <div class="row"  *ngFor="i of peoples.controls; let i = index">
              <div class="col-sm-3"><label> Traveler -{{i+1}}</label></div>
              <div class="col-sm-6">
                <input type="text" class="form-control" [formControlName]="i">
                
              </div>
              <div class="col-sm-3"><button type="button" class="btn btn-sm btn-danger" (click)="removepeople(i)"> - Remove </button></div>
              <br/>
              <br/>
            </div>
            
            <div class="row">
              <div class="col-sm-12">
                <button *ngIf="peoples.length <7 " type="button" class="btn btn-sm btn-info" (click)="addpeople()"> + Add Traveler </button>
              </div>
            </div>
            
            <br/>

            <div class="row">
                <div class="col-sm-12">
                  <button [disabled]="!reservationForm.valid" class="btn btn-primary btn-sm"> Submit </button>
                </div>
            </div>
          </div>
        </div>
          
        </form> 
        <div class="row"> <div class="col-12"> {{reservationForm.value|json}} </div></div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

      

    </div>
  </div>
</div>